
.main-web {
  /* min-height: 1000px; */
  text-align: center;
}
.table_bill{
  width: 95%;
    text-align: center;
    font-size: 15px;
    margin-left: 5%;
}
.table_ctbill{
  
}
/* .btn.btn-dark.mua
{
   display: none; 
} */
